<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rm">

    <resultMap id="identityCode" type="IdentityCode">
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="identifying_code" property="identityCode"/>
        <result column="identifying_end_date" property="identityEndDate"/>
    </resultMap>

    <resultMap id="profile" type="BaseProfile">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="appId" column="app_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastLoginDate" column="last_login_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="available" column="available"/>
        <result property="online" column="online"/>
        <result property="profileType" column="profile_type"/>
        <result property="lastPCId" column="last_pc_id"/>
        <result property="lastSDATId" column="last_sdat_id"/>
        <result property="lastSDNFId" column="last_sdnf_id"/>
        <result property="lastSDNWId" column="last_sdnw_id"/>
        <result property="lastCLId" column="last_cl_id"/>
        <result property="lastPCEId" column="last_pce_id"/>
        <result property="lastBBSId" column="last_bbs_id"/>
        <result property="deviceType" column="device_type"/>
    </resultMap>

    <resultMap id="parent" type="ParentProfile">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="appId" column="app_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="deviceType" column="device_type"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastLoginDate" column="last_login_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="available" column="available"/>
        <result property="addressId" column="address_id"/>
        <result property="paid" column="paid"/>
        <result property="freeTrial" column="free_trial" jdbcType="TINYINT" javaType="boolean"/>
        <result property="freeTrialEndDate" column="free_trial_end_date"/>
        <association property="address" javaType="Address" column="address_id">
            <id property="id" column="address_id"/>
            <result property="address" column="full_address"/>
            <result property="cityId" column="cityId"/>
            <result property="city" column="city"/>
            <result property="provinceId" column="provinceId"/>
            <result property="province" column="province"/>
        </association>
        <association property="student" javaType="Student" column="studentId">
            <id property="id" column="studentId"/>
            <result property="name" column="studentName"/>
            <result property="male" column="sex"/>
            <result property="birth" column="birth"/>
            <result property="ringNumber" column="ring_number"/>
            <result property="ringPhone" column="ring_phone"/>
            <association property="school" javaType="School" column="schoolId">
                <id property="id" column="schoolId"/>
                <result property="name" column="schoolName"/>
            </association>
            <association property="fmcClass" javaType="FmcClass" column="classId">
                <id property="id" column="classId"/>
                <result property="schoolId" column="schoolId"/>
                <result property="grade" column="grade"/>
                <result property="realClass" column="class"/>
                <result property="headTeacherId" column="teacherId"/>
                <result property="headTeacherName" column="teacherName"/>
            </association>
            <association property="parentStudentRelationship"
                         javaType="ParentStudentRelationship"
                         column="relationship">
                <result property="parentId" column="id"/>
                <result property="studentId" column="studentId"/>
                <result property="relationship" column="relationship"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="teacher" type="TeacherProfile">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="appId" column="app_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="deviceType" column="device_type"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastLoginDate" column="last_login_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="available" column="available"/>
        <result property="male" column="sex"/>
        <result property="headTeacher" column="head_teacher"/>
        <result property="initialized" column="initialized"/>
        <result property="resume" column="resume"/>
        <result property="course" column="course"/>
        <result property="birth" column="birth"/>
        <collection property="school" resultMap="school"/>
    </resultMap>

    <resultMap id="parentStudentRelationship" type="ParentStudentRelationship">
        <id property="parentId" column="parent_id"/>
        <result property="studentId" column="student_id"/>
        <result property="relationship" column="relationship"/>
        <result property="approved" column="approved"/>
        <result property="approvedDate" column="approved_date"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="student" type="Student">
        <id property="id" column="s_id"/>
        <result property="classId" column="class_id"/>
        <result property="name" column="name"/>
        <result property="male" column="sex"/>
        <result property="birth" column="birth"/>
        <result property="ringNumber" column="ring_number"/>
        <result property="ringPhone" column="ring_phone"/>
        <result property="creationDate" column="creation_date"/>
        <result property="available" column="available"/>
        <collection property="mParentStudentRelationship" resultMap="parentStudentRelationship"/>
        <collection property="school" resultMap="school"/>
        <collection property="fmcClass" resultMap="fmcClass"/>
    </resultMap>

    <resultMap id="fmcClass" type="FmcClass">
        <id property="id" column="cls_id"/>
        <id property="schoolId" column="school_id"/>
        <result property="grade" column="grade"/>
        <result property="available" column="available"/>
        <result property="realClass" column="class"/>
        <result property="headTeacherId" column="head_teacher_id"/>
        <result property="headTeacherName" column="teacherName"/>
    </resultMap>

    <resultMap id="school" type="School">
        <id property="id" column="scl_id"/>
        <id property="name" column="schoolName"/>
        <result property="provinceId" column="province_id"/>
        <result property="cityId" column="city_id"/>
        <result property="addressId" column="address_id"/>
    </resultMap>

    <resultMap id="address" type="Address">
        <id property="id" column="id"/>
        <result property="provinceId" column="province_id"/>
        <result property="cityId" column="city_id"/>
        <result property="address" column="full_address"/>
        <result property="city" column="city"/>
        <result property="province" column="province"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="comments" type="Comments">
        <id property="id" column="id"/>
        <result property="refId" column="ref_id"/>
        <result property="profileId" column="profile_id"/>
        <result property="comment" column="comment"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="available" column="available"/>
    </resultMap>

    <resultMap id="image" type="Image">
        <id property="id" column="id"/>
        <result property="newsId" column="news_id"/>
        <result property="imgName" column="img_name"/>
        <result property="imgPath" column="img_path"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <select id="queryImageByNewsId" parameterType="int" resultMap="image">
        SELECT id,
        news_id,
        img_name,
        img_path,
        creation_date,
        last_update_date
        FROM image
        WHERE news_id = #{id}
    </select>

    <resultMap id="news" type="News">
        <id property="id" column="id"/>
        <result property="author" column="author"/>
        <result property="authorName" column="author_name"/>
        <result property="subject" column="subject"/>
        <result property="content" column="content"/>
        <result property="newsType" column="news_type"/>
        <result property="refId" column="ref_id"/>
        <result property="approved" column="approved"/>
        <result property="approvedBy" column="approved_by"/>
        <result property="approvedByName" column="approved_by_name"/>
        <result property="approvedDate" column="approve_date"/>
        <result property="like" column="like"/>
        <result property="popular" column="popular"/>
        <result property="publishDate" column="publish_date"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <collection property="imageUrls" column="id" ofType="Image" select="queryImageByNewsId"/>
    </resultMap>
    <resultMap id="slide" type="Slide">
        <id property="id" column="id"/>
        <result property="subject" column="subject"/>
        <result property="newsId" column="news_id"/>
        <result property="profileId" column="profile_id"/>
        <result property="imgName" column="img_name"/>
        <result property="imgPath" column="img_path"/>
        <result property="order" column="order"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="available" column="available"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <association property="news" column="news_id" select="com.fmc.edu.news.queryNewsDetail"/>
    </resultMap>

    <resultMap id="userMessage" type="UserMessage">
        <id property="id" column="id"/>
        <result property="messageType" column="message_type"/>
        <result property="content" column="content"/>
        <result property="refId" column="ref_id"/>
        <result property="reading" column="reading"/>
        <result property="province" column="province"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="task" type="Task">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="task" column="task"/>
        <result property="deadline" column="deadline"/>
        <result property="publishUserId" column="publish_user_id"/>
        <result property="available" column="available"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="taskStudentRelationShip" type="TaskStudentRelationShip">
        <id property="id" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="studentId" column="student_id"/>
        <result property="completed" column="is_complete"/>
        <result property="available" column="available"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="selection" type="Selection">
        <id property="id" column="id"/>
        <result property="newsId" column="news_id"/>
        <result property="selection" column="selection"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="profileSelectionRelationship" type="ProfileSelectionRelationship">
        <result property="newsId" column="news_id"/>
        <result property="selectionId" column="selection_id"/>
        <result property="profileId" column="profile_id"/>
        <result property="creationDate" column="creation_date"/>
    </resultMap>

    <resultMap id="course" type="Course">
        <id property="id" column="id"/>
        <result property="timeTableId" column="timetable_id"/>
        <result property="courseName" column="course_name"/>
        <result property="order" column="order"/>
        <result property="orderName" column="order_name"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="week" column="week"/>
        <result property="available" column="available"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="timeTable" type="TimeTable">
        <id property="id" column="id"/>
        <result property="classId" column="class_id"/>
        <result property="available" column="available"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="clockInRecord" type="ClockInRecord">
        <id property="id" column="id"/>
        <result property="magneticCardId" column="magnetic_card_id"/>
        <result property="type" column="type"/>
        <result property="attendanceFlag" column="attendance_flag"/>
        <result property="clockInPersonId" column="clock_in_person_id"/>
        <result property="clockInPersonName" column="clock_in_person_name"/>
        <result property="attendanceDate" column="attendance_date"/>
        <result property="creationDate" column="creation_date"/>
    </resultMap>

    <resultMap id="magneticCard" type="MagneticCard">
        <id property="id" column="id"/>
        <result property="cardNo" column="card_no"/>
        <result property="comments" column="comments"/>
        <result property="cardType" column="card_type"/>
        <result property="creationDate" column="creation_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
    </resultMap>

    <resultMap id="personCarMagneticRelationship" type="PersonCarMagneticRelationship">
        <id property="id" column="id"/>
        <result property="studentId" column="student_id"/>
        <result property="profileId" column="profile_id"/>
        <result property="magneticCardId" column="magnetic_card_id"/>
        <result property="available" column="available"/>
        <result property="approved" column="approved"/>
    </resultMap>

    <resultMap id="appSetting" type="AppSetting">
        <id property="id" column="id"/>
        <result property="isBel" column="isBel"/>
        <result property="isVibra" column="isVibra"/>
        <result property="profileId" column="profile_id"/>
    </resultMap>

    <resultMap id="pushMessage" type="PushMessage">
        <id property="id" column="id"/>
        <result property="profileId" column="profile_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="pushType" column="push_type"/>
        <result property="pushDeviceType" column="push_device_type"/>
        <result property="pushStatus" column="push_status"/>
        <result property="messageType" column="message_type"/>
        <result property="creationDate" column="creation_date"/>
    </resultMap>

</mapper>