<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder
			location="classpath:config/mybatis/mybatis.properties" />

	<!-- Datasource Configuration Start -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${mybatis.db.driver}"/>
		<property name="url" value="${mybatis.db.url}"/>
		<property name="username" value="${mybatis.db.username}"/>
		<property name="password" value="${mybatis.db.password}"/>
		<property name="testWhileIdle" value="true"/>
		<property name="testOnBorrow" value="true"/>
	</bean>
	<!-- Datasource Configuration end -->

	<!-- SQLSessionFactory Configuration start -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:config/mybatis/mappers/**/*.xml" />
		<property name="configLocation" value="classpath:config/mybatis/configuration.xml" />
	</bean>
	<!-- SQLSessionFactory Configuration end -->

	<!-- SQLSession Configuration start -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	<!-- SQLSession Configuration end -->

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>