<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.springframework.org/schema/beans"

		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="com.fmc.edu.executor.processor.InstantiationTracingBeanPostProcessor">
		<property name="initializationHandlers">
			<array>
				<ref bean="pcNewsCacheInitHandler" />
			</array>
		</property>
	</bean>

	<bean id="pcNewsCacheInitHandler" class="com.fmc.edu.executor.handler.NewsCacheInitHandler">
		<property name="newsType" value="1" />
		<property name="initializeNewsCacheCount" value="10" />
	</bean>
</beans>