<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- echcache manager-->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache/shiro-ehcache.xml" />
	</bean>

	<bean id="fcmAuthorizingRealm" class="com.fmc.edu.service.auth.FCMAuthorizingRealm">
		<property name="cachingEnabled" value="true" />
		<property name="authenticationCachingEnabled" value="true" />
		<property name="authenticationCacheName" value="authenticationCache" />
		<property name="authorizationCachingEnabled" value="true" />
		<property name="authorizationCacheName" value="authorizationCache" />
	</bean>
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="fcmAuthorizingRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/admin/login"/>
		<property name="filterChainDefinitions">
			<value>
				/profile/**=anon
				/news/**=anon
				/school/**=anon
				/admin/login=anon
				/admin/logout=anon
				/admin/authorize=anon
				/admin/**=authc
				/test/**=authc,perms[test:update]
			</value>
		</property>
	</bean>

	<!-- Shiro life cycle processor-->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>