<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:task="http://www.springframework.org/schema/task"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<bean class="com.fmc.edu.executor.processor.InstantiationTracingBeanPostProcessor">
		<property name="initializationHandlers">
			<array>
				<ref bean="newsCacheInitHandler" />
				<ref bean="PCEduSlideCountInitHandler" />
				<ref bean="locationInitHandler" />
				<ref bean="FMCPropertiesInitHandler" />
			</array>
		</property>
	</bean>

	<bean id="newsCacheInitHandler" class="com.fmc.edu.executor.handler.NewsCacheInitHandler" />
	<bean id="PCEduSlideCountInitHandler" class="com.fmc.edu.executor.handler.NewsPropertiesInitHandler">
		<property name="slideCount" value="5" />
		<property name="datetimePattern" value="yyyy-MM-dd HH:mm:ss" />
		<property name="newsTypeMap">
			<map>
				<entry key="1" value="育儿学堂" />
				<entry key="2" value="校园活动" />
				<entry key="3" value="校园通知" />
				<entry key="4" value="校园新闻" />
				<entry key="5" value="班级动态" />
				<entry key="6" value="亲子教育" />
				<entry key="7" value="校园吧" />
			</map>
		</property>
	</bean>
	<bean id="FMCPropertiesInitHandler" class="com.fmc.edu.executor.handler.FMCPropertiesInitHandler">
		<property name="deviceTypeMap">
			<map>
				<entry key="1" value="网站访问" />
				<entry key="2" value="电脑PC" />
				<entry key="3" value="Android" />
				<entry key="4" value="iPhone" />
				<entry key="5" value="Windows Phone" />
			</map>
		</property>
		<property name="parentStudentRelationshipStrings">
			<array>
				<value>妈妈</value>
				<value>爸爸</value>
				<value>爷爷</value>
				<value>奶奶</value>
				<value>姥爷</value>
				<value>姥姥</value>
				<value>其他</value>
			</array>
		</property>
		<property name="datePattern" value="yyyy-MM-dd" />
	</bean>
	<bean id="locationInitHandler" class="com.fmc.edu.executor.handler.LocationInitHandler" />

	<task:scheduled-tasks>
		<task:scheduled ref="newsLikeCacheContent" method="handleCacheExpiration" fixed-delay="600000" />
	</task:scheduled-tasks>
</beans>